.item-product{
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    height: 200px;
}

.item-product:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.item-product__image{
    width: auto;
    height: 140px;
    border-radius: 8px;
    margin-bottom: 12px;
}